@{
    ViewData["Title"] = "Kategori Oluştur";
}
<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">Kategori Oluştur</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4 ">
        <form>
            <div class="form-group ">
                <label for="CategoryName">Kategori Adı</label>
                <input type="text" class="form-control" id="CategoryName" placeholder="Innova">
            </div>
            <div class="form-group mt-3">
                <label for="CategoryDesc">Kategori Açıklama</label>
                <textarea id="CategoryDesc" cols="3" class="form-control" placeholder="Açıklama"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-sm mt-3"><i class="fa fa-plus mr-2"></i> Oluştur</button>
                <a class="btn btn-secondary btn-sm mt-3" asp-action="Index"><i class="fa fa-arrow-left"></i>Listeye Dön</a>
            </div>
        </form>
    </div> 
</div>

