@{
    ViewData["Title"] = "Kategori Detay";
}
<div class="row p-4">
    <div class="col">
        <h3 class="display-4 border-bottom">Kullanıcı Hesabı</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4">
        <dl class="row">
            <dt class="col-4">Kategori Adı</dt>
            <dd class="col-8">Innova</dd>

            <dt class="col-4">Kategori Açıklama</dt>
            <dd class="col-8">Açıklama</dd>

            <dt class="col-4">Oluşturan</dt>
            <dd class="col-8">Umut Kürşat TUNCER</dd>

            <dt class="col-4">Oluşturma Tarihi</dt>
            <dd class="col-8">31.05.2023</dd>

            <dt class="col-4">Güncelleyen</dt>
            <dd class="col-8">Umut Kürşat TUNCER</dd>

            <dt class="col-4">Güncelleme Tarihi</dt>
            <dd class="col-8">31.05.2023</dd>
        </dl>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <a class="btn btn-warning btn-sm mt-3" asp-action="Edit"><i class="fa fa-edit"></i>Güncelle</a>
        <a class="btn btn-secondary btn-sm mt-3" asp-action="Index"><i class="fa fa-arrow-left"></i>Listeye Dön</a>
    </div>
</div>