@{
    ViewData["Title"] = "Kategori Detay";
}
<div class="row  mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">Kategori Detay</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4">
        <dl class="row">
            <dt class="col-4">Ad Soyad</dt>
            <dd class="col-8">Umut Kürşat TUNCER</dd>

            <dt class="col-4">Kullanıcı Adı</dt>
            <dd class="col-8">utuncer</dd>

            <dt class="col-4">E-Posta Adresi</dt>
            <dd class="col-8">eposta@gmail.com</dd>

            <dt class="col-4">Aktif</dt>
            <dd class="col-8"><i class="fa fa-star"></i></dd>

            <dt class="col-4">YÖnetici</dt>
            <dd class="col-8"><i class="fa fa-star"></i></dd>

            <dt class="col-4">Oluşturan</dt>
            <dd class="col-8">Umut Kürşat TUNCER</dd>

            <dt class="col-4">Oluşturma Tarihi</dt>
            <dd class="col-8">31.05.2023</dd>

            <dt class="col-4">Güncelleyen</dt>
            <dd class="col-8">Umut Kürşat TUNCER</dd>

            <dt class="col-4">Güncelleme Tarihi</dt>
            <dd class="col-8">31.05.2023</dd>
        </dl>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <a class="btn btn-warning btn-sm" asp-action="Edit"><i class="fa fa-edit"></i>Güncelle</a>
        <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left"></i>Listeye Dön</a>
    </div>
</div>