@{
    ViewData["Title"] = "Kullanıcı Güncelle";
}

<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">Kullanıcı Güncelle</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4 ">
        <form>
            <div class="form-group mt-3">
                <label for="Fullname">Adı Soyad</label>
                <input type="text" class="form-control" id="Fullname" placeholder="Ad Soyad">
            </div>
            <div class="form-group mt-3">
                <label for="Username">Kullanıcı Adı</label>
                <input type="text" class="form-control" id="Username" placeholder="Kullanıcı Adı">
            </div>
            <div class="form-group mt-3">
                <label for="Email">E-mail</label>
                <input type="email" class="form-control" id="Username" placeholder="email@gmail.com">
            </div>
            <div class="form-group mt-3">
                <label for="Password">E-mail</label>
                <input type="password" class="form-control" id="Password" placeholder="Şifre (Tekrar)">
            </div>
            <div class="form-group mt-3">
                <label for="RePassword">E-mail</label>
                <input type="password" class="form-control" id="RePassword" placeholder="Şifre">
            </div>
            <div class="form-group form-check mt-3">
                <input type="checkbox" class="form-check-input" id="isactive">
                <label class="form-check-label" for="isactive">Aktif</label>
            </div>
            <div class="form-group form-check mt-3">
                <input type="checkbox" class="form-check-input" id="isadmin">
                <label class="form-check-label" for="isadmin">Yönetici</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-sm mt-3"><i class="fa fa-save mr-2"></i> Kaydet</button>
                <a class="btn btn-secondary btn-sm mt-3" asp-action="Index"><i class="fa fa-arrow-left"></i> Listeye Dön</a>
            </div>
        </form>
    </div>
</div>
