@{
    ViewData["Title"] = "Profil";
}

<div class="row p-4">
    <div class="col">
        <h3 class="display-4 border-bottom">Kullanıcı Hesabı</h3>
    </div>
</div>

<div class="row p-4">
   <div class="col-3 text-center">
        <img src="https://picsum.photos/id/180/128" class="rounded-circle img-thumbnail" />
   </div>
   <div class="col-4">
       <h3 class="display-4 mb-4">Umut Kürşat TUNCER</h3>
       <div class="mb-3">
            <div><b>Kullanıcı Adı</b></div>
            <div>Umut Kürşat TUNCER</div>
       </div>
        <div class="mb-3">
            <div><b>E-Posta Adresi</b></div>
            <div>uktuncer@gmail.com</div>
       </div>
   </div>
</div>
