@{
    ViewData["Title"] = "Yazı Detay";
}
<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">Yazı Detayı</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col-6">
        <dl class="row">
            <dt class="col-4">Kategori</dt>
            <dd class="col-8">Innova</dd>

            <dt class="col-4">Başlık</dt>
            <dd class="col-8">Başlık Kısmı</dd>

            <dt class="col-4">Özet</dt>
            <dd class="col-8">Özet Kısmı</dd>

            <dt class="col-4">Taslak</dt>
            <dd class="col-8"><i class="fa fa-user"></i> Özet Kısmı</dd>

            <dt class="col-4">Beğeni Adedi</dt>
            <dd class="col-8">85</dd>

            <dt class="col-4">Yorum Adedi</dt>
            <dd class="col-8">20</dd>

            <dt class="col-4">Oluşturan</dt>
            <dd class="col-8">Umut Kürşat TUNCER</dd>

            <dt class="col-4">Oluşturma Tarihi</dt>
            <dd class="col-8">31.05.2023</dd>

            <dt class="col-4">Güncelleyen</dt>
            <dd class="col-8">Umut Kürşat TUNCER</dd>

            <dt class="col-4">Güncelleme Tarihi</dt>
            <dd class="col-8">31.05.2023</dd>

            <dt class="col-4">Detay</dt>
            <dd class="col-8">Detay Kısmı</dd>
        </dl>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <a class="btn btn-warning btn-sm mt-3" asp-action="Edit"><i class="fa fa-edit"></i> Güncelle</a>
        <a class="btn btn-secondary btn-sm mt-3" asp-action="Index"><i class="fa fa-arrow-left"></i> Listeye Dön</a>
    </div>
</div>